<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
     {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'SecureWitness/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'SecureWitness/css/elements.css' %}" />
</head>
{% block content %}
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
  		<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
   			<div class="navbar-header">
      			<a class="navbar-brand" href="{%url 'homePage' %}">SecureWitness</a>
    		</div>
  		</div><!-- /.container-fluid -->
	</nav>

	<div class="alert alert-warning" role="alert" style='height:400px'>

	<h2>{{user_name}} is already logged in.</h2>
	<p> Click <a href="/"> Here </a> to return to the homepage.</p>
<p> Click <a  href="/{{user_name}}"> Here </a> to return to your user homepage.</p>
    <form action="/accounts/logout/" method="post">  {% csrf_token %}
     	<input type ="submit"class="btn btn-info"  value ="Log Out"></form>
    </div>
    <hr>
    <footer>
        <p>&copy; Karen Dang, Carina Cai, Saba Eskandarian, Ted Xie CS3240 Fall2014 </p>
    </footer>

</body>
{% endblock %}
