<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SecureWitness - Folder View</title>
     {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'SecureWitness/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'SecureWitness/css/elements.css' %}" />
</head>
<body>
<div class="header">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{%url 'homePage' %}">SecureWitness</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search"action="/{{ userId }}/search" method="post">
                    {% csrf_token %}
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <input id="id_query" class"form-control" palceholder ="Search" maxlength="100" name="query" type="text" />
                    <input type="submit" class="btn btn-primary" value="search">
                </form>
            <ul class="nav navbar-nav navbar-right">
                <li><form action="/accounts/logout/" method="post">  {% csrf_token %}
                    <input type ="submit"class="btn btn-info"  value ="Log Out"></form></li>
                <li><form action = "/{{ userId }}/disableUser/"  method ="post">{% csrf_token %}
                    <input type = "submit"  class="btn btn-info" value ="Disable Account"></form></li>
            </ul>
            </div>
            <!-- /.navbar-collapse -->
            
        </div><!-- /.container-fluid -->
    </nav>
</div>


<h1>Edit {{ bulletin.name }} ({{ bulletin.id }})</h1>
<p>Please enter data only in fields that you wish to modify.</p>
<form action="/{{ userId }}/editBulletin/{{ bulletin.id }}" method="post">
{% csrf_token %}
{{ bulletinForm }}
<input type="submit" value="Submit">
</form>

<p>
    click <a href="/{{ userId }}/">here</a> to return to home
</p>
<hr/>
    <footer>
        <p>&copy; Karen Dang, Carina Cai, Saba Eskandarian, Ted Xie CS3240 Fall2014 </p>
</footer>
</body>
</body>
</html>