<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SecureWitness - Folder View</title>
     {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'SecureWitness/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'SecureWitness/css/elements.css' %}" />
</head>
<body>

<div class="header">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{%url 'homePage' %}">SecureWitness</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search"action="/{{ userId }}/search" method="post">
                    {% csrf_token %}
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <input id="id_query" class"form-control" palceholder ="Search" maxlength="100" name="query" type="text" />
                    <input type="submit" class="btn btn-primary" value="search">
                </form>
            <ul class="nav navbar-nav navbar-right">
                <li><form action="/accounts/logout/" method="post">  {% csrf_token %}
                    <input type ="submit"class="btn btn-info"  value ="Log Out"></form></li>
                <li><form action = "/{{ userId }}/disableUser/"  method ="post">{% csrf_token %}
                    <input type = "submit"  class="btn btn-info" value ="Disable Account"></form></li>
            </ul>
            </div>
            <!-- /.navbar-collapse -->
            
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title"><h2>{{ folder.name }}</h2></div>
    </div>
    <ul class="list-group">
    {% for bulletin in bulletins %}
        <li class="list-group-item">
            <h3>{{ bulletin.name }}</h3>
            <form action="/{{ userId }}/editBulletinPage/{{ bulletin.id }}" method="GET"><input type="submit" class="btn btn-default" value="Edit" /></form>
            <ul class="list-group">
                <li class="list-group-item">date: {{ bulletin.date }}</li>
                <li class="list-group-item">location: {{ bulletin.location }}</li>
                <li class="list-group-item">description:{{ bulletin.description }}</li>
                <li class="list-group-item">public: {{ bulletin.public }}</li>
                <li class="list-group-item">documents:
                    <ul>
                        {% for doc in documents %}
                            {% if doc.user == userId%}
                                <li><a href="/{{ doc.file }}">{{ doc.file }}</a> <form action="/deleteDocument/{{ doc.file }}" method="GET"><input type="submit" class="btn btn-warning"value="Delete" /></form></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            
        <hr>
        <h4>More Options</h4>
        <ul class="list-group">
            <li class="list-group-item">Add Document:
                <form action="/{{ userId }}/addDocument/{{ bulletin.id }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="doc"/>
                    <input type="submit" class="btn btn-default"value="addDoc">
                </form>
            </li>
            <li class="list-group-item">Rename Bulletin:
                <form action="/{{ userId }}/renameBulletin/{{ bulletin.id }}" method="post">
                    {% csrf_token %}
                    <input id="id_name" name="name" type="text" />
                    <input type="submit" class="btn btn-default" value="rename">
                </form>
            </li>
            <li class="list-group-item">Copy Bulletin:
                <form action="/{{ userId }}/copyBulletin/{{ bulletin.id }}" method="post">
                    {% csrf_token %}
                        <input id="id_name" maxlength="100" name="name" type="text" />
                    <input type = "submit" class="btn btn-default" value="copy">
                </form>
            </li>
            <li class="list-group-item">Change Folder:
                <form action="/{{ userId }}/setBulletinFolder/{{ bulletin.id }}" method="post">
                    {% csrf_token %}
                    <select id="id_folder" name="folder">
                        <option value="0" selected="selected">No Folder</option>
                        {% for folder in folders %}
                            <option value="{{ folder.id }}">{{ folder.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-default" value="Set Folder">
                </form>
            </li>
            <li class="list-group-item">
                <form action="/{{ userId }}/deleteBulletin/{{ bulletin.id }}" method="delete">
                    {% csrf_token %}
                    <input type = "submit" class="btn btn-default" value="delete bulletin">
                </form>
            </li>
        </ul>
    </li>
    {% endfor %}
    </ul>
</div>

<p>
    click <a href="/user/{{userId}}/">Here </a> to return to home
</p>

    <hr/>
    <footer>
        <p>&copy; Karen Dang, Carina Cai, Saba Eskandarian, Ted Xie CS3240 Fall2014 </p>
    </footer>
</body>
</html>