<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SecureWitness - Folder View</title>
</head>
<body>
<h1>{{ folder.name }}</h1>
{% for bulletin in bulletins %}
<p>
    <h3>{{ bulletin.name }}</h3>
    <h4>Information</h4> <form action="/{{ userId }}/editBulletinPage/{{ bulletin.id }}" method="GET"><input type="submit" value="Edit" /></form>
    <ul>
        <li>date: {{ bulletin.date }}</li>
        <li>location: {{ bulletin.location }}</li>
        <li>description:{{ bulletin.description }}</li>
        <li>public: {{ bulletin.public }}</li>
        <li>documents:
            <ul>
                {% for doc in documents %}
                    {% if doc.user == userId %}
                        <li><a href="/{{ doc.file }}">{{ doc.file }}</a> <form action="/deleteDocument/{{ doc.file }}" method="GET"><input type="submit" value="Delete" /></form></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
</p>
    <p>
        <h4>Options</h4>
        <ul>
            <li>Add Document:
                <form action="/{{ userId }}/addDocument/{{ bulletin.id }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="doc"/>
                    <input type="submit" value="addDoc">
                </form>
            </li>
            <li>Rename Bulletin:
                <form action="/{{ userId }}/renameBulletin/{{ bulletin.id }}" method="post">
                    {% csrf_token %}
                    <input id="id_name" maxlength="100" name="name" type="text" />
                    <input type="submit" value="rename">
                </form>
            </li>
        <li>Copy Bulletin:
            <form action="/{{ userId }}/copyBulletin/{{ bulletin.id }}" method="post">
                {% csrf_token %}
                    <input id="id_name" maxlength="100" name="name" type="text" />
                <input type = "submit" value="copy">
            </form>
        </li>
        <li>Change Folder:
            <form action="/{{ userId }}/setBulletinFolder/{{ bulletin.id }}" method="post">
                {% csrf_token %}
                <select id="id_folder" name="folder">
                    <option value="0" selected="selected">No Folder</option>
                    {% for folder in folders %}
                        <option value="{{ folder.id }}">{{ folder.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Set Folder">
            </form>
        </li>
        <li>
            <form action="/{{ userId }}/deleteBulletin/{{ bulletin.id }}" method="delete">
                {% csrf_token %}
                <input type = "submit" value="delete bulletin">
            </form>
        </li>
        </ul>
    </p>
<hr />
{% endfor %}
<p>
    click <a href="/{{ userId }}/">here</a> to return to home
</p>
</body>
</html>