<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SecureWitness</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'SecureWitness/style.css' %}" />
</head>
<body>
<div class="header">
    <h1>User Home</h1>
</div>
<h2>Create a Bulletin</h2>
<form action="/{{ userId }}/createBulletin/" method="post">
{% csrf_token %}
{{ bulletinForm }}
<select id="id_folder" name="folder">
    <option value="0" selected="selected">No Folder</option>
    {% for folder in folders %}
    <option value="{{ folder.id }}">{{ folder.name }}</option>
    {% endfor %}
</select>
<input type="submit" value="Submit">
</form>
<br />
<h2>Create Folder</h2>
<form action="/{{ userId }}/createFolder/" method="post">
    {% csrf_token %}
    <input id="id_name" maxlength="100" name="name" type="text" />
    <input type="submit" value="submit">
</form><br />
<h2>Bulletin Folders</h2>
<p><ul>
{% for folder in folders %}
<li><a href="/{{ userId }}/getFolder/{{ folder.id }}">{{ folder.name }}</a><br />
<ul>
    <li>rename folder:
            <form action="/{{ userId }}/renameFolder/{{ folder.id }}" method="post">
                {% csrf_token %}
                <input id="id_name" maxlength="100" name="name" type="text" />
                <input type="submit" value="rename">
            </form>
    </li>
    <li>copy folder:
        <form action="/{{ userId }}/copyFolder/{{ folder.id }}" method="post">
            {% csrf_token %}
            <input id="id_name" maxlength="100" name="name" type="text" />
            <input type = "submit" value="copy">
        </form>
    </li>
    <li>
        <form action="/{{ userId }}/deleteFolder/{{ folder.id }}" method="delete">
            {% csrf_token %}
            <input type = "submit" value="delete folder">
        </form>
    </li>
</ul>
</li>
{% endfor %}
</ul></p><hr />
<h2>Uncategorized Bulletins</h2>
{% for bulletin in bulletins %}
<p>
    <h3>{{ bulletin.name }}</h3>
    <h4>Information</h4>
    <ul>
        <li>date: {{ bulletin.date }}</li>
        <li>location: {{ bulletin.location }}</li>
        <li>description:{{ bulletin.description }}</li>
        <li>public: {{ bulletin.public }}</li>
    </ul>
</p>
    <p>
        <h4>Options</h4>
        <ul>
            <li>Rename Bulletin:
                <form action="/{{ userId }}/renameBulletin/{{ bulletin.id }}" method="post">
                    {% csrf_token %}
                    <input id="id_name" maxlength="100" name="name" type="text" />
                    <input type="submit" value="rename">
                </form>
            </li>
        <li>Copy Bulletin:
            <form action="/{{ userId }}/copyBulletin/{{ bulletin.id }}" method="post">
                {% csrf_token %}
                    <input id="id_name" maxlength="100" name="name" type="text" />
                <input type = "submit" value="copy">
            </form>
        </li>
        <li>Change Folder:
            <form action="/{{ userId }}/setBulletinFolder/{{ bulletin.id }}" method="post">
                {% csrf_token %}
                <select id="id_folder" name="folder">
                    <option value="0" selected="selected">No Folder</option>
                    {% for folder in folders %}
                        <option value="{{ folder.id }}">{{ folder.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Set Folder">
            </form>
        </li>
        <li>
            <form action="/{{ userId }}/deleteBulletin/{{ bulletin.id }}" method="delete">
                {% csrf_token %}
                <input type = "submit" value="delete bulletin">
            </form>
        </li>
        </ul>
    </p>
<hr />
{% endfor %}
</body>
</html>